<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Url Shortner</h1>

    <!-- EJS (Embedded JavaScript), locals is an object that contains local variables passed to the template. The id property within locals would be a specific variable that you are passing to the template -->
    <% if (locals.id) { %>
     <p>Url Generated : http://localhost:8080/api/url/<%= id %></p>
    <% } %>
    
    <!-- The action attribute specifies the URL to which the form data will be sent.
    In this case, check route of indexjs app.use("/api",route) and from there post req at /url the data will be sent to /api/url -->
    <div>
         <form method="POST" action="/api/url" > 
            <label>enter your original url</label>
            <input type="text" name="originalUrl" required placeholder="http://example.com"/>
            <button type="submit">Generate</button>
        </form>
    </div>

    <% if (locals.urls) { %>
        <table>
            <thead>
            <th>Serial no.</th>
            <th>short Id</th>
            <th>Redirect Url</th>
            <th>Clicks</th>
        </thead>
        <tbody>
                <% urls.forEach((url,index) => { %>
                 <tr>
                    <td><%= index+1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.originalUrl %></td>
                    <td><%= url.visitHistory.length %></td>
                 </tr>
                <% }) %>
        </tbody>
        </table>
    <% } %>
    
</body>
</html>